@media screen and (max-width: 1365px) {
  .feet,
  #left-foot,
  #right-foot {
    text-align: center;
  }
  .feet {
    width: 700px;
    height: auto;
    padding-top: 40px;
  }
  .foot-brand {
    width: 200px;
  }
  .telly {
    float: none;
  }
  #right-foot {
    position: relative;
    display: inline-block;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 800px) {
  /*body{
    background:none;
  }#img-a {
    scroll-margin-top: 250px;
  }*/

  .modal-imgs {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  /*hide me*/

  .modal {
    height: auto;
  }

  .modal-imgs img {
    width: 50px;
    height: 75px;
    border: 1px white solid;
    display: inline-flex;
    justify-content: space-between;
    margin: 5px;
  }
  .close {
    margin: 0;
  }
  .sections {
    position: relative;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 200px;
  }
  .brand-image {
    width: 100vw;
    height: auto;
  }
  .nav-logo {
    display: none;
  }
  .logo {
    padding: 12px;
    font-size: 30px;
  }
  .hero {
    position: relative;
    display: inline-block;
    text-align: center;
    visibility: visible;
    padding: 20px;
    margin-top: 100px;
  }
  .hero-logo {
    visibility: visible;
  }
  .sidebar {
    width: 100vw;
  }

  .bio-blurb {
    padding: 10px;
  }
  .stylist-header {
    width: 250px;
    /*display: inline-block;*/
  }
  .left-bio {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .footer-logo {
    width: 250px;
  }
  .feet {
    width: 100%;
  }

  body {
    background-image: none;
  }
  .alt-background {
    background: url(images.salon/inside\ salon.jpg) center center no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    margin: 0;
    scroll-behavior: unset;
  }
  .links a {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    transition: 1s;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
  }
}
