* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#promo,
#book {
  scroll-margin-top: -100px;
}
#bio {
  scroll-margin-top: -200px;
}
#brand {
  scroll-margin-top: -100px;
}
#img-a {
  scroll-margin-top: -500px;
}
#book {
  margin-bottom: 500px;
}

body {
  background: url(images.salon/inside\ salon.jpg) top center / 90% 100% fixed;
}
#top-nav {
  /*was topnav*/
  background: rgb(10, 15, 15);
  position: fixed;
  z-index: 5;
  width: 100%;
}
.back-to-stylists {
  text-decoration: underline;
}
.promo,
.book {
  text-align: center;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.75rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: 1s;
  cursor: pointer;
}

.nav-toggle:hover {
  color: grey;
}

.logo {
  border: 3px solid black;
  padding: 12px;
  font-size: 3rem;
  display: inline-block;
  color: black;
  background-color: rgb(244, 243, 253, 0.9);
  font-family: "Niconne", cursive;
}
.sections {
  margin-top: 400px;
  display: inline-block;
  width: 100vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 50px;
}

article {
  height: 100vh auto;
}
.tag {
  opacity: 0;
  transform: translate(0, 5vh);
  transition: all 2s;
}
.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.hero-logo {
  margin: auto;
  padding: 10px;
}
li {
  list-style-type: none;
}
.links a {
  font-family: "Niconne";

  text-decoration: none;
  font-size: 25px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  transition: 1s;
}

.links a:hover {
  background: var(--clr-primary-8);
  color: grey;
  transition: 0.5s;
}
.social-icons {
  display: none;
  color: white;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 15rem;
}
.menu-icon {
  font-size: 15px;
  visibility: hidden;
}

.hero {
  margin-top: 200px;
  position: relative;

  display: inline-block;
  text-align: center;
  visibility: visible;
  padding: 30px auto auto 50px;
}
.logo {
  border: 3px solid black;
  padding: 15px 12px 15px 12px;
  font-size: 40px;
  display: inline-block;
  color: black;
  background-color: rgb(244, 243, 253, 0.9);
}

hr {
  height: 3px;
  background: black;
  width: 200px;
  margin: auto;
}
.header {
  color: rgb(0, 255, 255, 0.8);
  font-family: "Viaoda Libre", cursive;
  text-align: center;
  margin: 25px;
  font-size: 30px;
}
.brand-image {
  width: 45vw;
  height: auto;
  display: block;
  margin: auto;
  opacity: 0.6;
  box-shadow: 0 5px 10px black;
  margin-bottom: 20px;
}
.brand-blurb {
  color: rgb(233, 231, 231);
  word-spacing: 4px;
  width: 100%;
  border-radius: 5px;
  padding: 15px 30px 15px 30px;

  margin: 30px;
  margin: auto;
}
.bio-blurb {
  width: 100%;
  letter-spacing: 1px;
  padding: 2rem 4rem 2rem 4rem;
  text-align: left;
  display: inline-block;
  color: rgb(233, 231, 231);
}
.brand-blurb,
.bio-blurb {
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-family: "Viaoda Libre", cursive;
  letter-spacing: 1px;
}
.brand-blurb::first-letter {
  color: rgb(0, 255, 255, 0.9);
  font-size: 30px;
  font-family: "Viaoda Libre", cursive;
}
#bio-select {
  color: red;
  cursor: crosshair;
}
.bio-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.left-bio {
  display: flex;
  width: 100vw;
}
.bio-left-section {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  border-radius: 1px;
  width: 100%;
}

/*#portrait,
.img-gallery-item,
.bio-left-section {
  float: left; /*remove in responsive
}*/

.img-gallery-stylist1 {
  box-shadow: 0 5px 10px rgba(0, 0, 0.5);
  border-radius: 2px;

  width: 100%;
  text-align: center;
}
.img-gallery {
  overflow: hidden;
}
.img-gallery-item {
  width: 10em;
  height: 12em;
  padding: 2px;

  text-align: center;
}

/*.stylist-names-menu,
.img-gallery-stylist1 {
  display: inline-block;
}*/
.sidebar {
  display: inline-block;
  width: 90vw;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.4);
}

.stylist-names-menu a {
  font-family: Niconne;
  color: rgb(241, 238, 238);
  font-size: 1.5rem;
  width: 300px;
  padding: 10px;
  letter-spacing: 3px;
  line-height: 2rem;
  transition: ease-in-out 0.25s;
  display: inline-block;
}

.sidebar a {
  list-style-type: none;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(241, 238, 238);
}
.sidebar a:hover {
  color: #a7a7a7;
}

#bio {
  padding-top: 100px;
}
.stylist-header {
  text-align: center;
  border: 2px solid rgb(121, 2, 2);
  border-bottom: none;
  font-family: "Niconne", cursive;
  letter-spacing: 3px;
  padding: 5px;
  /*box-shadow: 5px 10px 20px white;*/
  margin-top: 5px;
  width: 250px;
  color: rgb(255, 0, 0);
  margin: auto;
}

#portrait {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 2px;
  display: inline-block;
  text-align: center;
}
.pic {
  width: 250px;
  height: 300px;
}

/*#portrait:before,
#portrait:after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 5px;
  width: 47%;
  top: 90%;
  max-width: 100px;
  box-shadow: -1px 50px 31px -5px rgb(250, 250, 250);
  transform: rotate(-10deg);
}
#portrait:after {
  transform: rotate(10deg);
  right: 5px;
  left: auto;
}*/

/*.topnav .menu-icon {
  display: none;
}*/

/*dont fuck with*/
.footer {
  background: rgb(10, 15, 15);
  width: 100%;
  height: auto;
  /*margin-bottom:0;*/
}
.footer-logo {
  padding: 12px;
  font-size: 30px;
}
.footer,
.feet {
  text-align: center;
  display: inline-block;
}
.feet {
  width: 300px;
  height: 300px;
}
#left-foot {
  text-align: left;
  height: auto;
  /*display:inline-block;*/
}
#right-foot {
  text-align: right;
} /*#0a0f0f*/
.foot-brand {
  width: 125px;
}
.address {
  color: white;
  line-height: 30px;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.number {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
}
.number,
a {
  color: aqua;
  text-decoration: none;
  line-height: 30px;
}
.number:hover {
  color: orange;
}

.telly,
.icons {
  width: 30px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid rgb(0, 255, 255);
  color: rgb(0, 255, 255);
}
.telly {
  float: left;
}
.telly:hover,
.icons:hover {
  color: rgb(233, 231, 231);
  border: solid 2px rgb(233, 231, 231);
}
.number:hover {
  color: rgb(233, 231, 231);
}
.social {
  margin-top: 20px;
}
#left-foot,
.social {
  margin-top: 20px;
}
.extra {
  width: 100px;
  padding: 10px;
  height: 150px;
  display: inline-block;
  border: 2px double silver;
  margin-left: 10px;
}

.telly:hover,
.icons:hover {
  border: 2px solid silver;
}
.foot-nav-head {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  padding-bottom: 50px;
}
.social-top {
  padding: 0;
  margin: 0;
  float: right;
}
.foot-nav {
  list-style-type: none;
  line-height: 40px;
  letter-spacing: 5px;
  font-size: 17px;
}
.telly,
.icons,
.footer,
.feet {
  text-align: center;
}
.foot-nav a:hover {
  color: #e9e7e7;
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5s;
}
#img01 {
  opacity: 1;
}

.myImg:hover {
  opacity: 0.7;
}
.modal-imgs {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(0, 0, 0, 0.6);
}

.modal-imgs img {
  width: 100px;
  height: 150px;
  border: 1px white solid;
  display: inline-flex;
  justify-content: space-between;
  margin: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed; /* Stay in place */
  /* Sit on top */
  z-index: 1;
  left: 0;
  width: 100vw; /* Full width */
  height: auto; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  padding: 10px;

  padding-top: 150px;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 300px;
  height: 400px;
  padding: 17px;
  transform: translate(0, 0);
  transition: ease-in;
  border: 1px white solid;
  border-radius: 5px;
}

/* Add Animation */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  float: right;
  margin-right: 20px;
  display: block;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
